@font-face {
  font-family: "Whitney";
  src: url(../fonts/Whitney-Book.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Whitney";
  src: url(../fonts/Whitney-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Whitney";
  src: url(../fonts/Whitney-Bold.ttf);
  font-weight: 700;
}

.soedinenie {
  overflow-x: hidden;
  background: radial-gradient(50% 50% at 50% 50%, #313333 0%, #242222 100%);
  font-family: "Whitney";
  margin-left: 186px;
}

@media (max-width: 1023px) {
  .soedinenie {
    margin-left: 0;
  }
}

.container {
  max-width: 69.2%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 24px;
  line-height: 40px;
}

.text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 24px;
}

@media (max-width: 1700px) {
  .container {
    max-width: 90%;
  }
  .title {
    font-size: 35px;
  }
  .text {
    font-size: 18px;
  }
}

@media (max-width: 1250px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .title {
    text-align: center;
  }
  .text {
    text-align: center;
  }
}

@media (min-width: 2550px) {
  .title {
    font-size: 50px;
    line-height: 50px;
  }
  .text {
    font-size: 25px;
    line-height: 30px;
  }
}

.header {
  background-size: cover;
  position: relative;
}

.header__bg {
  position: absolute;
  width: 100%;
}

.header__inner {
  position: relative;
  margin-bottom: 560px;
}

.logo__img {
  padding-top: 90px;
  margin: 0 auto;
  width: 50%;
}

.header__off1 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  top: 160%;
}

.header__content {
  margin-bottom: 160px;
}

.header__title {
  font-size: 60px;
  color: white;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: 400;
}

@media (max-width: 1440px) {
  .header__off1 {
    top: 122%;
  }
  .header__inner {
    margin-bottom: 40%;
  }
}

@media (max-width: 1200px) {
  .header {
    padding-bottom: 100px;
  }
  .logo__img {
    width: 40%;
  }
}

@media (max-width: 769px) {
  .header__bg {
    -webkit-transform: scale(200%);
            transform: scale(200%);
  }
  .logo__img {
    width: 60%;
    padding-top: 50px;
  }
  .header__inner {
    margin-bottom: 50%;
  }
  .header__off1 {
    top: 160%;
  }
  .header__content {
    margin-bottom: 100px;
  }
}

@media (max-width: 500px) {
  .header__bg {
    -webkit-transform: scale(300%);
            transform: scale(300%);
  }
  .logo__img {
    width: 70%;
    padding-top: 50px;
  }
  .header__inner {
    margin-bottom: 60%;
  }
  .header__off1 {
    width: 40%;
    top: 130%;
  }
  .header__content {
    margin-bottom: 50px;
  }
  .header__title {
    font-size: 35px;
  }
}

@media (min-width: 2550px) {
  .header__inner {
    margin-bottom: 745px;
  }
  .header__off1 {
    top: 175%;
  }
}

.main {
  margin-top: -15%;
}

.tasks {
  position: relative;
}

.tasks__bg {
  position: absolute;
  right: 0;
  width: 70%;
}

.tasks__inner {
  padding-top: 565px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.tasks__img {
  margin-right: 528px;
}

.tasks__img2 {
  display: none;
}

.tasks__block-text {
  position: relative;
  padding-left: 50px;
}

.tasks__block-text::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0px;
  font-size: 40px;
  font-weight: 600;
}

.tasks__block-text1::before {
  content: "1.";
}

.tasks__block-text2::before {
  content: "2.";
}

.tasks__block-text3::before {
  content: "3.";
}

@media (max-width: 1700px) {
  .tasks__inner {
    padding-top: 36%;
  }
}

@media (max-width: 1550px) {
  .tasks__inner {
    padding-top: 33%;
  }
}

@media (max-width: 1440px) {
  .tasks__bg {
    width: 75%;
  }
}

@media (max-width: 1340px) {
  .tasks__bg {
    width: 75%;
  }
  .tasks__inner {
    padding-top: 26%;
  }
}

@media (max-width: 1200px) {
  .tasks {
    background: radial-gradient(66.67% 57.74% at 66.67% 50%, #F7C835 0%, #F7A330 100%);
  }
  .tasks__inner {
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .tasks__bg {
    display: none;
  }
  .tasks__img {
    display: none;
  }
  .tasks__img2 {
    display: block;
    margin-right: 120px;
  }
  .tasks__block-text::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 0px;
    font-size: 30px;
    font-weight: 600;
  }
  .tasks__block-text1::before {
    content: "1.";
  }
  .tasks__block-text2::before {
    content: "2.";
  }
  .tasks__block-text3::before {
    content: "3.";
  }
}

@media (max-width: 600px) {
  .tasks__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tasks__img2 {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .tasks__block-text {
    text-align: left;
  }
}

@media (min-width: 2550px) {
  .tasks__bg {
    width: 65%;
  }
  .tasks__inner {
    padding-top: 754px;
  }
  .tasks__img {
    width: 30%;
    margin-right: 40%;
  }
}

.portraits {
  position: relative;
  margin-bottom: 156px;
}

.portraits__bg {
  position: absolute;
}

.portraits__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 415px;
}

.portraits__CA2 {
  display: none;
}

.portraits__content {
  margin-right: 380px;
}

@media (max-width: 1700px) {
  .portraits__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1550px) {
  .portraits__bg {
    width: 50%;
  }
  .portraits__inner {
    padding-top: 300px;
  }
}

@media (max-width: 1200px) {
  .portraits__bg {
    display: none;
  }
  .portraits {
    background: radial-gradient(66.67% 57.74% at 66.67% 50%, #F7C835 0%, #F7A330 100%);
    padding-bottom: 8%;
    padding-top: 8%;
  }
  .portraits__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 0;
  }
  .portraits__content {
    margin-right: 0;
  }
  .portraits__CA {
    display: none;
  }
  .portraits__CA2 {
    display: block;
  }
}

@media (max-width: 600px) {
  .portraits {
    margin-bottom: 100px;
  }
  .portraits__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .portraits__CA2 {
    margin-bottom: 50px;
  }
  .portraits__title br {
    display: none;
  }
}

@media (min-width: 2550px) {
  .portraits__bg {
    width: 40%;
  }
  .portraits__inner {
    padding-top: 28%;
  }
  .portraits__CA {
    width: 30%;
  }
  .portraits__content {
    margin-right: 412px;
  }
}

.desicion {
  position: relative;
  margin-bottom: 100px;
}

.desicion__title-img {
  margin: 0 auto;
  margin-bottom: 50px;
}

.desicion__wrapper {
  background-image: url(../images/desicion/desicion__bg.svg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.desicion__inner {
  position: relative;
  padding-top: 240px;
  max-width: 772px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.desicion__inner-top {
  margin-bottom: 96px;
}

@media (max-width: 768px) {
  .desicion__inner {
    padding-top: 150px;
    margin-bottom: 50px;
  }
  .desicion__inner-top {
    margin-bottom: 50px;
  }
}

@media (min-width: 2550px) {
  .desicion__title-img {
    width: 9%;
  }
}

.osobennosti {
  position: relative;
}

.osobennosti__title {
  text-align: center;
  margin-bottom: 24px;
}

.osobennosti__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 70px;
}

.slider {
  width: 50%;
}

.slider .slick-prev, .slider .slick-next {
  position: absolute;
  background-repeat: no-repeat;
  top: 45%;
  background-color: transparent;
  color: transparent;
  border: none;
  cursor: pointer;
  width: 14px;
}

.slider .slick-prev {
  background-image: url(../images/arrows/arrow__left.svg);
  left: 7%;
  z-index: 100;
}

.slider .slick-next {
  background-image: url(../images/arrows/arrow__right.svg);
  left: 88%;
  z-index: 100;
}

.osobennosti__title {
  margin-bottom: 50px;
}

.osobennosti__left {
  margin-right: 30px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.osobennosti__left img {
  width: 100%;
}

.osobennosti__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.osobennosti__right img {
  width: 100%;
}

.osobennosti__block-title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}

.osobennosti__block-text {
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  .desicion__wrapper {
    padding-bottom: 50px;
  }
  .osobennosti__block1, .osobennosti__block3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .osobennosti__block2, .osobennosti__block4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .osobennosti__block-title {
    text-align: center;
  }
  .osobennosti__block-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 24px;
  }
  .slider {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .slider img {
    width: 90%;
    margin: 0 auto;
  }
  .slider .slick-prev {
    left: 10%;
  }
  .osobennosti__left {
    margin: 0 auto;
  }
  .osobennosti__left img {
    width: 90%;
    margin: 0 auto;
  }
  .osobennosti__right {
    margin: 0 auto;
  }
  .osobennosti__right img {
    width: 90%;
    margin: 0 auto;
  }
}

.supps {
  margin-top: 100px;
  margin-bottom: 100px;
}

.supps__inner {
  color: white;
}

.supps__title {
  text-align: center;
}

.supps__text {
  margin-bottom: 48px;
  text-align: center;
}

.supps__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.supps__item {
  -ms-flex-preferred-size: 14.6%;
      flex-basis: 14.6%;
  margin: 0 auto;
  margin-bottom: 28px;
  height: 100px;
  background-color: #3C3C3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.supps__item:nth-child(19) {
  margin: 0;
  margin-right: 28px;
  margin-bottom: 28px;
}

.supps__item:nth-child(20) {
  margin: 0;
  margin-right: 28px;
  margin-bottom: 28px;
}

.supps__item:nth-child(21) {
  margin: 0;
  margin-right: 28px;
  margin-bottom: 28px;
}

.supps__item:nth-child(22) {
  margin: 0;
  margin-right: 28px;
  margin-bottom: 28px;
}

.supps__item:nth-child(23) {
  margin: 0;
  margin-right: 28px;
  margin-bottom: 28px;
}

@media (max-width: 768px) {
  .supps__item {
    -ms-flex-preferred-size: 20.6%;
        flex-basis: 20.6%;
  }
  .supps__item:nth-child(19) {
    margin: 0 auto;
    margin-bottom: 28px;
  }
  .supps__item:nth-child(20) {
    margin: 0 auto;
    margin-bottom: 28px;
  }
  .supps__item:last-child {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .supps__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .supps__item:nth-child(21) {
    margin: 0 auto;
    margin-bottom: 28px;
  }
}

.result {
  margin-bottom: 100px;
}

.result__inner {
  color: white;
}

.result__title {
  text-align: center;
  margin-bottom: 24px;
}

.result__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.result__item-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  color: #F7A330;
  margin-bottom: 12px;
}

@media (max-width: 1200px) {
  .result__item-title {
    font-size: 40px;
  }
  .result__item-text {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .result__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .result__title {
    margin-bottom: 50px;
  }
  .result__item-title {
    font-size: 50px;
  }
}

.opinion {
  margin-bottom: 100px;
}

.opinion__inner {
  color: white;
}

.opinion__title {
  text-align: center;
}

.opinion__subtext {
  text-align: right;
  font-size: 16px;
}

@media (max-width: 768px) {
  .opinion__title br {
    display: none;
  }
  .opinion__text {
    text-align: center;
  }
}

.footer {
  color: white;
  margin-bottom: 100px;
}

.footer__title {
  text-align: center;
}

.footer__subtitle {
  text-align: center;
  font-weight: 400;
  margin-bottom: 24px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.footer__item-top {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-bottom: 24px;
}

.footer__item-img {
  margin-right: 12px;
}

.footer__item-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.footer__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@media (max-width: 1440px) {
  .footer__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__item-top:nth-child(1) {
    display: none;
  }
  .footer__item-top:nth-child(4) {
    display: none;
  }
  .footer__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (max-width: 1024px) {
  .footer__item-top {
    -ms-flex-preferred-size: 33% !important;
        flex-basis: 33% !important;
  }
  .footer__item-top img {
    width: auto !important;
  }
  .footer__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 768px) {
  .footer__bottom {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .footer__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item-img {
    width: 55%;
    margin-bottom: 15px;
  }
  .footer__item-title {
    text-align: center;
  }
  .footer__item-text {
    text-align: center;
  }
}
